.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
}

.mySwiper{
  width: 100%;
  display: flex!important;
  align-items: flex-end!important;
  justify-content: flex-start!important;
}


.swiper-img{
  width: 100%!important;
  height: 70%!important;
  cursor: pointer;
}

.mySwiper{
  position: relative!important;
}

.swiper-button-prev, .swiper-button-next{
  /* color: white; */
  top: 95%;
}

.swiper-button-prev{
  left: 48%;
}

.swiper-button-next{
  right: 40%;
}

.swiper-button-prev, .swiper-button-next{
  position: absolute;
  bottom: 0;
}

.swiper-button-prev::after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../../images/left.svg');
  background-size: contain; /* Rasmni moslashtirish */
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 10px;
  background-color: red;
  border-radius: 50%;
}

.swiper-button-next::after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../../images/right.svg');
  background-size: contain; /* Rasmni moslashtirish */
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 10px;
  background-color: red;
  border-radius: 50%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.swiper-box{
  display: flex!important;
  align-items: flex-start!important;
}

.swiper-slide{
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  height: 370px;
  width: 33%!important;
  border-radius: 8px;
}

.swiper-slide-desc{
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #64748B;
  padding: 10px 0;
}

@media only screen and (max-width: 550px){
  
  .swiper-slide {
    height: 150px;
    padding-bottom: 0;
  }
  
  
  
  .swiper-img{
    width: 120px!important;
    height: 100%!important;
    cursor: pointer;
  }
  
  .mySwiper{
    position: relative!important;
  }
  
  .swiper-button-prev, .swiper-button-next{
    /* color: white; */
    top: 90%;
  }
  
  .swiper-button-prev{
    left: 40%;
  }
  
  .swiper-button-next{
    right: 40%;
  }
  
}